aniversariantes---ultra-Aniversariantes.json
{
  "createdAt": "2025-06-04T14:16:13.191Z",
  "updatedAt": "2025-06-10T14:20:40.000Z",
  "id": "5VTua7pMNBb1Qmod",
  "name": "Aniversariantes - Ultra",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        180
      ],
      "id": "69527ca4-4d15-4a7f-a597-b4471b98789b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2b94cc8-ff7b-4322-aced-95872e42824c",
              "leftValue": "={{ $json['Notificação'] }}",
              "rightValue": "Sim",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        180
      ],
      "id": "4ae47ad4-a679-4b77-9516-491c8c52183a",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zapperapi.com/inst_9xnyvojk6rhl/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jid",
              "value": "=\"{{ $json['Número Formatado'] }}\""
            },
            {
              "name": "message",
              "value": "=Oii, {{ $json['Primeiro Nome'] }}! Tudo certo? Feliz aniversário!\nHoje celebramos seus {{ $json['Idade atual'] }} anos e toda a sua jornada! Parabéns por mais um ciclo de conquistas e aprendizados. Admiramos sua persistência e a forma como você encara cada desafio, dentro e fora da Ultra.\nQue sua caminhada continue sendo de muito foco, saúde e realizações. Lembre-se que a constância é a chave para alcançar grandes resultados. Mantenha-se firme!\nConte sempre com o nosso apoio!\n👊 Equipe Ultra 🎉"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        80
      ],
      "id": "b2771941-ccbb-42cb-a0d3-0420c959f73d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HQr0PyV1ls42WZ4C",
          "name": "ZapperAPI Ultra"
        },
        "httpBearerAuth": {
          "id": "ONVZ0r8AaMpP5Rcc",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19H93ANJuDCWlxEm3IwmTJf66Vq4xH53z4QerWKI_GFE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Aniversariantes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19H93ANJuDCWlxEm3IwmTJf66Vq4xH53z4QerWKI_GFE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -600,
        180
      ],
      "id": "36094c45-7425-4f3a-adeb-dd5fbdf21ab0",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5PBSjJRlYFry3dh7",
          "name": "ghbarros2005"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "daaeb116-a4fb-424d-9822-d1fc950eb8ae",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-05-28T21:33:10.024Z",
      "updatedAt": "2025-05-28T21:33:10.024Z",
      "id": "Gtq1FJvRKaRAzzfZ",
      "name": "Aniversariantes"
    },
    {
      "createdAt": "2025-06-04T14:23:22.780Z",
      "updatedAt": "2025-06-04T14:23:22.780Z",
      "id": "Pb4lNVOzDvskP8dr",
      "name": "Ultra - JD. Alexandrina"
    }
  ]
}