frequentes---ultra-Frequentes.json
{
  "createdAt": "2025-06-04T14:55:48.015Z",
  "updatedAt": "2025-06-08T22:55:16.000Z",
  "id": "***",
  "name": "Frequentes - Ultra",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 10,
              "triggerAtMinute": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "***",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "***",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2110403567,
          "mode": "list",
          "cachedResultName": "Frequentes",
          "cachedResultUrl": "***"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "***",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "***",
          "name": "***"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jid",
              "value": "=\"{{ $json['Número Formatado'] }}\""
            },
            {
              "name": "message",
              "value": "=Ei, estou passando apenas para te parabenizar! 👏\nVi como você mandou bem na última semana, se dedicando e vindo pra cada treino. Isso faz toda a diferença! Não desiste, tá indo muito bem! 💪\nContinue assim, os resultados vão chegar e você vai se surpreender com o que é capaz!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        0
      ],
      "id": "***",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "***",
          "name": "ZapperAPI Ultra"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        580,
        0
      ],
      "id": "***",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 90
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        940,
        0
      ],
      "id": "***",
      "name": "Wait",
      "webhookId": "***"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "***",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-05-30T12:47:07.056Z",
      "updatedAt": "2025-05-30T12:47:07.056Z",
      "id": "***",
      "name": "Frequentes"
    },
    {
      "createdAt": "2025-06-04T14:23:22.780Z",
      "updatedAt": "2025-06-04T14:23:22.780Z",
      "id": "***",
      "name": "Ultra - JD. Alexandrina"
    }
  ]
}
